<template id="modal-confirm-template">
	<div class="w3-modal-content">
		<div class="w3-container">
			<div class="modal__header">
					<div class="modal__header__text">Confirm Dialog!!</div>
					<div class="w3-button w3-display-topright modal__btn-close">&times;</div>
			</div>
			 
			<div class="modal__message">
			</div>
			<div class="modal__bottom">
				<button class="w3-button w3-black modal__btn-close blue-outline">Cancel</button>
				<button class="w3-button w3-black modal__btn-ok">Ok</button>
			</div>
		</div>
	</div>
</template> 